<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="/Default/Index"><h1 class="text-white text-uppercase mb-3">Hotelier</h1></a>
                    <p class="text-white mb-0">
                        Hotelier, kullanıcı dostu bir web tabanlı otel rezervasyon platformudur.<br>
                        Geliştirici: Haçik Ulu
                    </p>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">İletişim</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Cumhuriyet Cd. İstanbul</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 325 7698</p>
                <p class="mb-2">
                    <i class="fa fa-envelope me-3"></i>novastay@info.com
                </p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="/Default/Index"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="/Default/Index"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="/Default/Index"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="/Default/Index"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Şirketimiz</h6>
                        <a class="btn btn-link" href="/Default/Index">Hakkımızda</a>
                        <a class="btn btn-link" href="/Default/Index">Bize Yazın</a>
                        <a class="btn btn-link" href="/Default/Index">Güvenlik</a>
                        <a class="btn btn-link" href="/Default/Index">Kurallar & Şartlar</a>
                        <a class="btn btn-link" href="/Default/Index">Destek</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Hizmetler</h6>
                        <a class="btn btn-link" href="/Default/Index">Yemek & Restoran</a>
                        <a class="btn btn-link" href="/Default/Index">Spa & Fitness</a>
                        <a class="btn btn-link" href="/Default/Index">Spor ve Oyunlar</a>
                        <a class="btn btn-link" href="/Default/Index">Kutlamalar & Eğlence</a>
                        <a class="btn btn-link" href="/Default/Index">Yoga & Meditasyon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; Tüm Hakları Saklıdır @DateTime.Now.Year
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="/Default/Index">Ana Sayfa</a>
                        <a href="/Default/Index">Çerezler</a>
                        <a href="/Default/Index">Yardım</a>
                        <a href="/Default/Index">Veri Kullanımı</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
