@model UpdateStaffDto
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="StaffId" />
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Personel Unvan</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Personel Sosyal Medya Hesabı 1</label>
    <input type="text" asp-for="SocialMediaIcon1" class="form-control" />
    <br />
    <label>Personel Sosyal Medya Hesabı 2</label>
    <input type="text" asp-for="SocialMediaIcon2" class="form-control" />
    <br />
    <label>Personel Sosyal Medya Hesabı 3</label>
    <input type="text" asp-for="SocialMediaIcon3" class="form-control" />
    <br />
    <button class="btn btn-outlined-success">Personeli Güncelle</button>
</form>
