@model CreateWorkLocationDto
@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Lokasyon Adı</label>
    <input type="text" asp-for="Name" class="form-control" required />
    <br />
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-primary">Lokasyonu Ekle</button>
</form>



